@import "tailwindcss";

@theme {
   --font-archivo: var(--font-archivo);
   --font-chillax: var(--font-chillax);
   --font-mono: var(--font-jetbrains-mono);
   --color-b-white: oklch(1 0 0);
   --color-b-light-gray: oklch(0.9219 0 0);
   --color-b-gray: oklch(0.8172 0 0);
   --color-b-dark-gray: oklch(0.5931 0 0);
   --color-b-black: oklch(0.2308 0 0);
   --color-b-green: oklch(0.4337 0.0668 158.63);
   --color-b-purple: oklch(0.3408 0.0674 291.85);
   --color-b-ocean: oklch(0.4123 0.0465 210.1);
   --color-b-olive: oklch(0.5183 0.0505 97.94);
}

.bg-hero {
   background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
      url(/images/home-hero.png) lightgray 50% / cover no-repeat;
}

.bg-tech-mens {
   background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
      url(/images/tech-mens-shacket.png) lightgray 50% / cover no-repeat;
}

.bg-george {
   background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
      url(/images/abraham-george-unsplash.png) lightgray 50% / cover no-repeat;
}

.text-stroke-white {
   -webkit-text-stroke: 1.5px var(--color-b-white, #fff);
}

input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 1000px white inset !important;
   -webkit-text-fill-color: #000 !important;
}
